*{margin: 0px;}

body{ 
    height: 100vh;
    display: flex;    
    align-items: center;              
    justify-content: center;

}

.lv1{
    height: 80%;
    width: 80%;
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 3vw;
}

.lv2{
    height: 80%;
    width: 80%;
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 3vw;   
}

.lv3{
    height: 80%;
    width: 80%;
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 3vw;  
}

 .lv4{
    height: 60px;
    width: 60px;

    background-color: #348a02;
 }  

 .horizontal{
    flex-direction: row;
 }

 .vertical{
    flex-direction: column;
 }
    
   


